* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: WHITE;
  background-origin: border-box;
  /* background-image: url("img/toronto.jpg");
  background-size: cover;
  background-position: bottom 0px;
  background-repeat: no-repeat; */
  margin: 0px
}

ul {
  list-style: none;
}

.backgroundImage {
  background-image: url("img/toronto3.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.app {
  margin: 0 auto;
  width: 1080px;
  /* overflow: hidden; */
  /* background-image: url("img/toronto.jpg");
  background-size: cover;
  background-position: bottom 0px;
  background-repeat: no-repeat; */
  /*border-radius: 3%;*/
}

.container {
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  /*border-radius: 3%;*/
}

.nav {}

.nav img {
  height: 80px;
}

.nav--container {
  max-width: 960px;
  display: flex;
  height: 80px;
  font-size: 22px;
  font-weight: 600;
  color: black;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.nav--content ul {
  display: flex;
  align-items: center;
}

.nav--content li {
  margin: 30px;
}


/* 
.info--icon {
  width: 100%;
  height: auto;
}

.info--content {
  background-color: #1A1B21;
  padding: 10px;
}

.about {
  background-color: #1A1B21;
  padding: 10px;
  color: white;
}

.footer {
  background-color: #161619;
  padding: 10px;
  color: white;
}

.interests {
  background-color: #1A1B21;
  padding: 10px;
  color: white;
} */